<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		
		
	<context:annotation-config />
	<context:component-scan
		base-package="com.kjh.jblog.controller" />
	<mvc:annotation-driven>
		<!-- Message Converter 등록 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<!-- 이 컨버터가 지원할 미디어 타입 지정 -->
				<property name="supportedMediaTypes">
					<list>
						<!-- Map, 자바 빈 객체를 JSON으로 변환 -->
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<mvc:default-servlet-handler />
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!-- ViewName의 접두어 -->
		<property name="prefix" value="/WEB-INF/views/" />
		<!-- 접미어 -->
		<property name="suffix" value=".jsp" />
		<!-- ViewResolver는 여러 개 등록될 수 있고 우선순위 지정 가능 -->
		<property name="order" value="1" />
	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
				<mvc:mapping path="/{id}/admin/**"/>
				<bean class="com.kjh.jblog.interceptors.AuthInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<!-- 메세지의 위치 -->
		<property name="basenames" value="messages/messages_ko"/>
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>
	
	<!-- multipart resolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 업로드 할 수 있는 최대 파일 용량 -->
		<property name="maxUploadSize" value="10485760"/><!-- 10MB -->
		<!-- 파일 인코딩 정보 -->
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>
	<!-- resource mapping 요청 url과 실제 디렉터리를 매핑 -->
	<mvc:resources location="file:E:\upload\" mapping="/upload-images/**"/>
</beans>